SportSchool/SportSchool/Service References/InstructorServiceReference/InstructorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61603/InstructorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" />
  <xs:import schemaLocation="http://localhost:61603/InstructorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetLearners">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instructorsEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dayOfWeek" type="xs:int" />
        <xs:element minOccurs="0" name="hour" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLearnersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetLearnersResult" nillable="true" type="q1:ArrayOfLearner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="learners" nillable="true" type="q2:ArrayOfLearner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAttendanceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetInstructorResult" nillable="true" type="q3:Instructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompetition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="competition" nillable="true" type="q4:Competition" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="learnersIDs" nillable="true" type="q5:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCompetitionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetCompetitionsResult" nillable="true" type="q6:ArrayOfCompetition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitiors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="competition" nillable="true" type="q7:Competition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompetitiorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetCompetitiorsResult" nillable="true" type="q8:ArrayOfLearner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="learnerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttendanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetAttendanceResult" nillable="true" type="q9:ArrayOfAttendance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>