SportSchool/SportSchool/Service References/AdminServiceReference/AdminService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55891/AdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" />
  <xs:import schemaLocation="http://localhost:55891/AdminService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetLeranersBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeranersByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetLeranersByResult" nillable="true" type="q1:ArrayOfLearner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetInstructorByResult" nillable="true" type="q2:Instructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorsBy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorsByResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetInstructorsByResult" nillable="true" type="q3:ArrayOfInstructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="instructor" nillable="true" type="q4:Instructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewInstructorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewLearner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="learner" nillable="true" type="q5:Learner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewLearnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSectionIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetSectionsResult" nillable="true" type="q6:ArrayOfSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SectionExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="section" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SectionExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SectionExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="section" nillable="true" type="q7:Section" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLearnesTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sectionID" type="xs:int" />
        <xs:element minOccurs="0" name="instructorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLearnesTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetLearnesTimeTableResult" nillable="true" type="q8:ArrayOfTimeTableRow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherLearnesTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sectionID" type="xs:int" />
        <xs:element minOccurs="0" name="instructorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtherLearnesTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetOtherLearnesTimeTableResult" nillable="true" type="q9:ArrayOfTimeTableRow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLearner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="learnerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLearnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="GetLearnerResult" nillable="true" type="q10:Learner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLearnersTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="rows" nillable="true" type="q11:ArrayOfTimeTableRow" />
        <xs:element minOccurs="0" name="sectionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLearnersTimeTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FreeLearners">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="list" nillable="true" type="q12:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FreeLearnersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoInstructorsTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="rows" nillable="true" type="q13:ArrayOfTimeTableRow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoInstructorsTimeTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromInstructorsTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="rows" nillable="true" type="q14:ArrayOfTimeTableRow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromInstructorsTimeTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLearners">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="person" nillable="true" type="q15:Person" />
        <xs:element minOccurs="0" name="Person" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLearnersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="FindLearnersResult" nillable="true" type="q16:ArrayOfLearner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindInstructors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="person" nillable="true" type="q17:Person" />
        <xs:element minOccurs="0" name="Person" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindInstructorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="FindInstructorsResult" nillable="true" type="q18:ArrayOfInstructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyLearner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="learner" nillable="true" type="q19:Learner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyLearnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyInstructor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SportSchoolClassLibrary" minOccurs="0" name="instructor" nillable="true" type="q20:Instructor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyInstructorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>